.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
}

.game .game-over {
  position: absolute;
  background-color: grey;
  text-align: center;
  display: inline-block;
  opacity: 0%;
  width: 630px;
  height: 630px;
  line-height: 630px;
}

.game .game-over h2 {
  display: inline-block;
  vertical-align: middle;
}

body {
  background-color: pink;
}

.score-board {
  margin-left: 50px;
}

@media only screen and (max-width: 910px) {
  .game {
    width: 540px;
    height: 540px;
  }
  .game .game-over {
    width: 540px;
    height: 540px;
    line-height: 540px;
  }
}

@media only screen and (max-width: 820px) {
  .game {
    width: 450px;
    height: 450px;
  }
  .game .game-over {
    width: 450px;
    height: 450px;
    line-height: 450px;
  }
}

@media only screen and (max-width: 730px) {
  .game {
    width: 360px;
    height: 360px;
  }
  .game .game-over {
    width: 360px;
    height: 360px;
    line-height: 360px;
  }
}

@media only screen and (max-width: 640px) {
  .app {
    display: block;
    padding: 10px;
  }
  .game {
    width: 540px;
    height: 540px;
  }
  .game .game-over {
    width: 540px;
    height: 540px;
    line-height: 540px;
  }
}

@media only screen and (max-width: 560px) {
  .game {
    width: 450px;
    height: 450px;
  }
  .game .game-over {
    width: 450px;
    height: 450px;
    line-height: 450px;
  }
}

@media only screen and (max-width: 470px) {
  .app {
    padding: 5px;
  }
  .game {
    width: 360px;
    height: 360px;
  }
  .game .game-over {
    width: 360px;
    height: 360px;
    line-height: 360px;
  }
}

@media only screen and (max-width: 370px) {
  .game {
    width: 315px;
    height: 315px;
  }
  .game .game-over {
    width: 315px;
    height: 315px;
    line-height: 315px;
  }
}